@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import "tailwindcss";

/* @custom-variant  dark (&:where(.dark, .dark *)); */

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --header: #ffffff;
  --header-foreground: #0f172a;

  --card: #ffffff;
  --card-foreground: #0f172a;

  --primary: #863bff;
  --primary-foreground: #ffffff;

  --secondary: #f1f5f9;
  --secondary-foreground: #0f172a;

  --accent: #863bff;
  --accent-foreground: #ffffff;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --border: #e2e8f0;
  --input: #f1f5f9;
  --ring: #863bff;

  --radius: 0.75rem;
  --font-sans: "Ubuntu", ui-sans-serif, system-ui, sans-serif;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;

  --header: #1e293b;
  --header-foreground: #f8fafc;

  --card: #1e293b;
  --card-foreground: #f8fafc;

  --primary: #a78bfa;
  --primary-foreground: #0f172a;

  --secondary: #334155;
  --secondary-foreground: #f8fafc;

  --accent: #a78bfa;
  --accent-foreground: #0f172a;

  --muted: #334155;
  --muted-foreground: #94a3b8;

  --destructive: #f87171;
  --destructive-foreground: #ffffff;

  --border: #334155;
  --input: #334155;
  --ring: #a78bfa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-header: var(--header);
  --color-header-foreground: var(--header-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-base: var(--radius);

  --font-sans: var(--font-sans);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  color: var(--foreground);
  background-color: var(--background);
}
